body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #6e0606;
    margin: 0;
    padding: 0;

}

h1 {
    margin-top: 20px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
    width: 330px;
}

.cell {
    background-color: #21575e;
    border: 2px solid #131212;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
